<section class="card__container">
  <div class="card__goback-wrapper">
    <a class="card__goback" href="#"><span class="card__arrow"></span>Вернуться</a>
  </div>
  <div class="card__title-wrapper">
    <h2 class="card__title">{{name}}</h2>
  </div>
  <div class="card__specifications-wrapper">
    <ul class="card__specifications">
      <li class="card__prop">
        <span class="card__prop-name">Тип</span>
      </li>
      <li class="card__prop">
        <span class="card__prop-value">{{type}}</span>
      </li>
      <li class="card__prop">
        <span class="card__prop-name">Порт</span>
      </li>
      <li class="card__prop">
        <span class="card__prop-value">{{port}}</span>
      </li>
      <li class="card__prop">
        <span class="card__prop-name">Вес</span>
      </li>
      <li class="card__prop">
        <span class="card__prop-value">{{weight}} кг</span>
      </li>
      <li class="card__prop">
        <span class="card__prop-name">Год</span>
      </li>
      <li class="card__prop">
        <span class="card__prop-value">{{year}}</span>
      </li>
    </ul>
  </div>
  <div class="card__missions">
    <h4>Миссии</h4>
    <p>
      {{missions}}
    </p>
  </div>
</section>
