<div class="header-container">
  <p class="page-title">SpaceX Ships</p>
</div>
<div class="list-container">
  <ul *ngIf="changedShips" class="elementsList">
    <li *ngFor="let ship of changedShips; let idx = index;"
        class = "element"
        [ngClass]="{'invisible': idx > lastItem || idx < lastItem-4}">
      <div class="name-wrap">
        <h3 class="ship-name" #shipName>
          {{ship.name}}
        </h3>
        <!-- <a class="arrow" [routerLink]="['card', {'name': ship.name }]"></a> -->
        <a class="arrow" [routerLink]="['card', shipName.textContent ]"></a>
      </div>
      <ul class="short-description">
        <li class="short-description__item short-description__item--type">
          Тип <span class="short-description__value ship-type">{{ship.type}}</span>
        </li>
        <li class="short-description__item short-description__item--port">
          Порт <span class="short-description__value home-port">{{ship.home_port}}</span>
        </li>
      </ul>
    </li>
  </ul>
  <app-pagination (changePage)="changePage($event)"
                  [myPage] = "currentPage"
                  [pages] = "pagesCount">
  </app-pagination>
</div>
