<div class="filters__container">
  <div class="filters__header">
    <h3 class="filter__title">{{filtersTitle}}</h3>
  </div>
  <div class="filters__shipName-wrapper">
    <label for="shipName" class="innerlabel"
     [ngClass]="{'superlabel': filters.name.shipName !== ''}">Название</label>
    <input type="text" id="shipName" class="filters__shipName" list="help"
                                                              [(ngModel)]="filters.name.shipName"
                                                              (change) = "shooseName()"
                                                              (focus) = "clickNameInput()"
                                                              (blur) = "blurInput()">
    <datalist class="filters__name-help" id="help">
      <option [value]="ship.name" *ngFor="let ship of shipsNameHelp"></option>
    </datalist>
  </div>
  <div class="filters__port-wrapper">
    <div class="filters__selected-wrapper">
      <h4 class="filters__ports-title">Порт</h4>
      <span class="filters__selected">Выбраны {{selectedCount}} </span>
    </div>
    <ul class="filters__ports-list" [ngClass]="{'filters__ports-list--active': filters.ports.isActive === true}">
      <li class="filters__ports-item">
        <input type="checkbox" id="portCanaveral" (click)="shoosePort('portCanaveral')"
         [checked] = "this.filters.ports.portCanaveral.isChecked">
        <label for="portCanaveral">Port Canaveral</label>
      </li>
      <li class="filters__ports-item">
        <input type="checkbox" id="portOfLA" (click)="shoosePort('portOfLA')"
         [checked] = "this.filters.ports.portOfLA.isChecked">
        <label for="portOfLA">Port of Los Angeles</label>
      </li>
      <li class="filters__ports-item">
        <input type="checkbox" id="fortLauderdale" (click)="shoosePort('fortLauderdale')"
         [checked] = "this.filters.ports.fortLauderdale.isChecked">
        <label for="fortLauderdale">Fort Lauderdale</label>
      </li>
    </ul>
  </div>
  <div class="filters__types-wrapper">
    <div class="filters__types-title-wrapper">
      <h4 class="filetrs__types-title">Тип</h4>
    </div>
    <ul class="filter__types-list">
      <li class="filter__types-item">
        <input id="Barge" type="radio" name="shipType" value="Barge" (change)="shooseType('Barge')"
          (click)="typeClickHandler('Barge')"
         [checked] ="filters.type.typeName === 'Barge' ? filters.type.isActive : false ">
        <label for="Barge">Barge</label>
      </li>
      <li class="filter__types-item">
        <input id="Cargo" type="radio" name="shipType" value="Cargo" (change)="shooseType('Cargo')"
          (click)="typeClickHandler('Cargo')"
         [checked] ="filters.type.typeName === 'Cargo' ? filters.type.isActive : false ">
        <label for="Cargo">Cargo</label>
      </li>
      <li class="filter__types-item">
        <input id="HighSpeedCraft" type="radio" name="shipType" value="High Speed Craft" (change)="shooseType('High Speed Craft')"
          (click)="typeClickHandler('High Speed Craft')"
         [checked] ="filters.type.typeName === 'High Speed Craft' ? filters.type.isActive : false ">
        <label for="HighSpeedCraft">High Speed Craft</label>
      </li>
      <li class="filter__types-item">
        <input id="Tug" type="radio" name="shipType" value="Tug" (change)="shooseType('Tug')"
          (click)="typeClickHandler('Tug')"
         [checked] ="filters.type.typeName === 'Tug' ? filters.type.isActive : false ">
        <label for="Tug">Tug</label>
      </li>
    </ul>
  </div>
</div>
